@charset "utf-8";
h2{
    color:#FFFFFF;
}


h1{
  color:#FFFFFF;
}

body {
  background-color: #709280 !important;
}

.column {
    float: left;
    width: 50%;
}
  
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media (min-width: 992px){
    .navbar li {
        margin-left : 12em;
        margin-right : 12em;
    }

    footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 7rem;  
      background-color: #25533B;
      color: white;
                /* Footer height */
    }
}
#searchInput {
  background-image: url('../img/search.png');
  background-position: auto ; /* Position the search icon */
  background-repeat: no-repeat;
  width: 80%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
}

.thumb-img{
  width: 5em;
  height: 5em;
  border-radius: 5px;
}

.cardDestino {
  height: 500px;
  width: 350px;
}
.imgDestino {
  height: 250px;
  width: 350px;
}

.centradobtn {
  width: 110px; 
  margin-left: 50%;
  transform: translateX(-50%);
  background-color: #25533B;
  border-color:#25533B
}

.mdialTamanio{
  width: 100% !important;
  background-color: #25533B;
}

.prueba {
  background-color: #709280;
}

.infoColor{
  background-color: #FFFFFF;
  padding: 30px;
  border-radius: 10px;
}

video{
  width:100%;
  padding: 20px;
}

iframe
{
  width:100%;
}

#carouselExampleIndicators{

  width:100%;
  height:500px;
  padding: 20px;
}

